.docAssist {
  border-radius: 10px;
  border: 2px solid wheat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 10px 0 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.right {
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 0 10px 10px 0;
  display: flex;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.bottom {
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 0 0 10px 10px;
}

.patientNotes {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid wheat;
  color: wheat;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}

.findMBSRebateSuggestionsText {
  border-radius: 10px 0 0 10px;
}

.resultText {
  border-radius: 0 10px 10px 0;
}
.patientNotesForm {
  flex: 20;
  margin: 10px 10px 20px 20px;
  box-sizing: border-box;
}
.doctorType {
  flex: 4;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}
.column {
  text-align: left;
  overflow-x: scroll;
  overflow: hidden;
  white-space: nowrap;
}
.resultContainer {
  margin: 10px 20px 20px 10px;
  border: 1px solid wheat;
  flex: 1;
  border-radius: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: justify;
}

input[type='submit'] {
  padding: 5px;
  margin: 10px;
  width: 50%;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-225deg, #ac34e4 0%, #7918f2 48%, #4801ff);
  color: black;
  align-self: center;
  cursor: pointer;
  flex: 1;
}
.mainForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0 0 0 10px;
}

.doctorType > .column > div > input {
  accent-color: #4801ff;
}
.doctorType > .column > div > input:not(:checked) {
  accent-color: #4801ff;
}
