.docAssist {
  border-radius: 10px;
  border: 2px solid wheat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 10px;
}
.left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 10px 0 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}
.right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 0 10px 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

.docAssistTitle {
  white-space: nowrap;
}

.mainForm {
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid wheat;
  flex: 10;
  overflow-y: scroll;
  text-align: justify;
  border-radius: 10px;
}

.left > .mainForm {
  margin: 10px 5px 5px 10px;
}

.right > .mainForm {
  margin: 10px 10px 5px 5px;
}
.right > .selectionBox {
  margin: 5px 10px 5px 5px;
}

.left > .selectionBox {
  margin: 5px 5px 5px 10px;
}

.selectionBox {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 10px;
}

.column {
  display: flex;
  text-align: left;
  white-space: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.submitBox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 5px 10px 10px 10px;
}

.hidden {
  visibility: hidden;
}

.mainForm > form {
  height: 100%;
}

.patientNotes {
  width: 100%;
  height: 100%;
  border: none;
  color: wheat;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}

.pseudoSubmit {
  border-radius: 10px;
  padding: 5px;
  background-image: linear-gradient(-225deg, #ac34e4 0%, #7918f2 48%, #4801ff);
  color: black;
  align-self: center;
  cursor: pointer;
}

.selectionBox > .column > div > input {
  accent-color: #ac34e4;
}

.email {
  border: 2px solid wheat;
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
}
