.navbar {
  background-color: black;
  color: wheat;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
}
.navTitle {
  display: grid;
  background-color: transparent;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navTitle > h1 {
  background-color: transparent;
}

.darkLightMode {
  display: grid;
  background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hideShowSearch {
  display: grid;
  background-color: transparent;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hideShowSearch > button {
  border: 2px solid wheat;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #1a1a1c;
}
