.mbsSearch {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0;
}

.search {
  text-align: justify;
  flex-direction: column;
  overflow-y: scroll;
  border: 2px solid wheat;
  border-radius: 10px;
}

.mbsSearch {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0;
  white-space: nowrap;
  border-bottom: 2px solid wheat;
  background-color: #1a1a1c;
}

ul > li {
  list-style: none;
  padding: 5px 0;
}

.coinInput {
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-225deg, #ac34e4 0%, #7918f2 48%, #4801ff);
  color: black;
  text-align: center;
}

.coinInput::placeholder {
  color: black;
}
.hiddenSearch {
  text-align: justify;
  flex-direction: column;
  overflow-y: scroll;
  border: 2px solid wheat;
  border-radius: 10px;
  display: none !important;
}
