.submit {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.submit > form {
  /* height: 80%; */
  /* width: 40vw; */
  width: 100%;
  display: flex;
}

.submit > form > input[type='email'] {
  flex: 5;
  border: 1px solid wheat;
  border-radius: 5px;
  text-align: center;
  height: 24px;
  margin: auto;
  margin-left: 10px;
}
.submit > form > input[type='submit'] {
  flex: 2;
}
